<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="com.terinit.rhythmicreader.permission.RECOVERY"
        android:protectionLevel="signature" />

    <queries>
        <package android:name="com.terinit.rhythmicroutine.qa" />
        <package android:name="com.terinit.rhythmicroutine" />
    </queries>

    <application
        android:name=".app.RhythmicReaderApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RhythmicReader">

        <activity
            android:name=".app.MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".integration.rhythmic.RecoveryEntryActivity"
            android:exported="true"
            android:permission="com.terinit.rhythmicreader.permission.RECOVERY">
            <intent-filter>
                <action android:name="com.terinit.rhythmicreader.action.START_RECOVERY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name=".integration.rhythmic.RecoveryStatusProvider"
            android:authorities="com.terinit.rhythmicreader.recovery"
            android:exported="true"
            android:readPermission="com.terinit.rhythmicreader.permission.RECOVERY" />
    </application>

</manifest>
